
----------------------------------------------------------------
This is the main template.

file1: {file1}
file2: {file2}

{var1} {var2} {var3}

<!-- BEGIN test -->{var1} {var2} {var3}
<!-- END test -->
----------------------------------------------------------------
